@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
*/

.btn{
    font-weight: bold;
    font-size: 18px;
    padding: 18px 56px;
    border-radius: 10px;
}

.btn-primary{
    color: #ffffff;
    background-color: #25E6C8;
    border-color: #25E6C8;
}
.btn-primary:hover{
    color: #ffffff;
    background-color: #2BAACE;
    border-color: #2BAACE;
}

.btn-checked:focus + .btn-primary, .btn-primary:focus{
    color: #ffffff;
    background-color: #2BAACE;
    border-color: #2BAACE;
}

html, body {
    font-family: 'Roboto', sans-serif;
    color: #626262;
}

a {
    color: #2BAACE; 
}

a:hover{
    color: #25E6C8;
}
#navbar-top {
    border: 1px solid #c5c5c5;
    height: 60px;
}

#navbarNav{
    display: flex;
    justify-content: end;
}


#navbar-top .working-hours i {
    color: #2BAACE;
    font-size: 1.2rem;
    margin-right: 0.8rem;
}

#navbar-top .social-media i {
    font-size: 1rem;
    margin-left: 1.7rem;
}

.navbar-nav {
    font-family: 'Roboto Slab', serif;
}

.navbar-nav .nav-item{
    margin-left: 1.4rem;
    font-size: 1.125rem;
}

/* .navbar-nav .nav-item .nav-link:hover{
    color: #25E6C8;
} */

/* .navbar-nav .nav-item .active{
    color: #25E6C8 !important;
} */
.navbar{
    height: 180px;
}

.navbar-light .navbar-nav .nav-link{
    color: #363636;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #25E6C8;
}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active{
    color: #25E6C8;
}

.f-1{
    flex: 1;
    text-align: center;
}

#showcase{
    background-color: #dedede;
    max-height: 700px;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

#showcase img{
    margin-left: -4rem;
}

#showcase .f-1 h1{
    font-family: 'Roboto Slab', serif;
    font-size: 2.75rem;
    color: #363636;
}

#showcase .f-1 p{
    font-size: 18px;
    margin: 45px 0;
}

@media(min-width: 768px) {
    #showcase .f-1 h1{
        font-family: 'Roboto Slab', serif;
        font-size: 3.75rem;
        color: #363636;
    }
}

@media(min-width: 992px){
     .navbar{
        height: 180px ;
     }
     #navbarNav{
        display: flex;
        justify-content: end;
    }   

    #showcase{
        align-items: end;
    }

    .f-1{
        flex: 1;
        text-align: left;
    }

    #showcase{
        align-items: end;
        padding: 0;
        padding-top: 3rem;
    }
}